.info-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.section {
    display: flex;
    gap: 5rem;
    margin-bottom: 5rem;
}
.img-info {

    width: 33rem;
    height: 100%;
}

 
.info-container > .section:nth-child(2),
.info-container >.section:nth-child(4){
    flex-direction: row-reverse;
}

.title-info{
    margin:0;
  
}
.info {
    display: flex;
    flex-direction: column;
   justify-content: center;
   text-align: start;
}
.more-info{
    text-align: center;
    text-decoration: none;
    color: black;

}
