.info-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.section {
    display: flex;
    gap: 5rem;
    margin-bottom: 5rem;
}
.img-info {
    width: 33rem;
    height: 100%;
}

.title-info{
    margin:0;
}
.info {
    display: flex;
    flex-direction: column;
   
}
.more-info{
    text-align: center;
    text-decoration: none;
    color: black;
}
