.life-page-container{
    width: 100%;
    height: 100%;
    
}
.life-logo{
    
    background-image: url('/public/life.jpg');
    height: 14rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}