.section-player{
    width: 100%;
    margin: 2rem auto;
    text-align: center ;
}
.decoration {
   background-color: black;
    width: 80%;
    margin: 2rem auto;
    height: 0.2rem;
    margin-bottom: 3rem;
}